    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*Declaración de variables*/
    :root {
        --color-nave: #652bdF;
        --color-nave-dark: #310084;
        --color-nave-light: #e8ddff;
        --color-texto: #2b2b2b;
        --color-blanco: #ffffff;
        --color-body: #fcfbff;
        --radius-box: 30px;
        --radius-btn: 50px;
    }

    body {
        font-family: "inter", sans-serif;
        background-color: var(--color-body);
    }

    /*Estilos del header*/
    .header-nave {
        border-bottom: 1px solid #cfd7df;
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        background-color: var(--color-blanco);
        z-index: 1000;
        padding: 0 20px;
    }

    .navbar-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
    }

    /*Lista de navegación*/
    .nav-links ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    .nav-links ul li a {
        text-decoration: none;
        font-size: 14px;
        color: var(--color-texto);
        font-weight: 700;
        transition: color 0.3s ease;
    }

    .nav-links ul li a:hover {
        background-color: #e8ddff;
        color: var(--color-nave-dark);
    }

    .navbar-content a {
        text-decoration: none;
        color: #2b2b2b;
        font-weight: 700;
        margin: 0;
        padding: 6px 15px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5rem;
        white-space: nowrap;
    }

    .nav-botones {
        display: flex;
        align-items: center;
        border-left: 1px solid #e7eaed;
        padding-left: 20px;
        margin-left: 10px;
        gap: 10px;
        flex-shrink: 0;
    }

    .btn {
        background-color: #652bdF;
        margin: 0px 4px;
        padding: 0 24px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5rem;
        text-decoration: none;
        transition: all 0.3 ease;

    }

    .btn.btn-solido {
        background-color: var(--color-nave);
        color: var(--color-blanco);
    }

    .btn.btn-solido:hover {
        color: var(--color-nave-dark);
        background-color: var(--color-nave-light);
        border: 1px solid #652bdF;
    }

    .btn.btn-borde {
        background-color: var(--color-blanco);
        border: 1px solid #652bdF;
        color: var(--color-nave);
    }

    .btn.btn-borde:hover {
        background-color: var(--color-nave-light);
        color: var(--color-nave-dark);
    }

    .hero-content-mobile {
        display: none;
    }

    .hero-banner {
        background-image: url("./images/Bannner-hero-tu-negocio-vuela.png");
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        min-height: 360px;
        max-width: 1100px;
        margin: 40px auto;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 100px 60px;
        display: flex;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 40px;
        color: var(--color-blanco);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .hero-content p {
        font-size: 20px;
        color: #2b2b2b;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        margin-top: 30px;
    }

    .btn-principal {
        display: inline-block;
        background-color: #652bdF;
        color: var(--color-blanco);
        margin: 0px 4px;
        padding: 10px 32px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        margin-top: 30px;
        min-width: 192px;
        min-height: 43px;
        line-height: 1.5rem;
    }

    .btn-principal:hover {
        background-color: var(--color-nave-dark);
    }

    .soluciones-container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
        margin-top: 80px;
        margin-bottom: 80px;
        text-align: center;
        font-weight: 600;
        font-size: 40px;
        color: #2b2b2b;
    }

    .icono-cards {
        border-radius: 8px;
    }

    .soluciones-container h2 {
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
        font-size: 40px;
    }

    .cards-grid {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 40px;
    }

    .card {
        flex: 1;
        background-color: var(--color-blanco);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card h3 {
        font-size: 24px;
        text-align: center;
    }

    .card p {
        font-size: 18px;
        color: #6a6a6a;
        line-height: 1.5;
    }

    .icon-container {
        display: flex;
        justify-content: flex-start;
        border-radius: 12px;
    }

    .historias-container {
        margin: 40px auto;
        padding: 32px 60px;
        max-width: 1022px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #310084;
        border-radius: 30px;

    }

    .texto-historias h2 {
        font-size: 30px;
        color: var(--color-blanco);
        text-align: start;
        justify-content: space-between;

    }

    .texto-historias p {
        font-size: 18px;
        color: var(--color-blanco);
        text-align: start;
        justify-content: space-between;
    }

    .btn.btn-historias {
        background-color: var(--color-blanco);
        margin: 0px 4px;
        padding: 10px 32px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        transition: all 0.3 ease;
        color: #652bdF;
    }

    .btn.btn-historias:hover {
        background-color: black;
        color: var(--color-nave-light);

    }

    .medio-cobro h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        color: #2b2b2b;
    }

    .medio-cobro span {
        display: flex;
        justify-content: center;
        color: #6a6a6a;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .qr-container {
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px 40px;
        background-color: var(--color-blanco);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        max-width: 1022px;
    }

    .qr-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
    }

    .qr-content h2 {
        margin: 0;
        font-size: 30px;
        color: #2b2b2b;
    }

    .qr-content p {
        margin: 0;
        color: #2b2b2b;
        margin-bottom: 30px;
    }

    .logo-qr {
        order: 2;

    }

    .logo-qr:hover {
        transform: translateY(-3px);
    }

    .terminal-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1022px;
        margin: 0 auto;
        gap: 20px;
        padding: 10px;
        background-color: var(--color-blanco);
        border-radius: 30px;
        margin-top: 20px;
    }

    .terminal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        width: 100%;
        flex: 1;
    }

    .terminal-content h2 {
        margin: 0;
        font-size: 30px;
        color: #2b2b2b;
        text-align: left;
    }

    .terminal-content p {
        margin: 0;
        color: #2b2b2b;
        padding: 0;
        color: #2b2b2b;
        font-size: 14px;
        transition: color 0.3s;
        text-decoration: none;
        text-align: start;
    }

    .link-pago-container {
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px 40px;
        background-color: var(--color-blanco);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        max-width: 1022px;
    }

    .link-pago-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

    }

    .link__pago-logo {
        order: 2;
    }

    .Tienda-online-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1022px;
        width: 100%;
        background-color: var(--color-blanco);
        margin-top: 20px;
        border-radius: 30px;

    }

    .tienda-online-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        gap: 15px;
    }

    .Tienda-online {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: left;
    }

    .Tienda-online h2 {
        font-size: 30px;
        color: #2b2b2b;
        text-align: left;
    }

    .Tienda-online p {
        font-size: 16px;
        color: #2b2b2b;
        text-align: left;
    }

    .footer-container {
        display: flex;
        max-width: 1200px;
        justify-content: flex-start;
        padding: 40px 40px;
        gap: 30px;
        margin: 0 auto;
    }

    .footer-column {
        min-width: 150px;
        position: relative;
        padding: 40px;

    }

    .logo-footer {
        width: 40px;
        height: auto;
        margin-bottom: 15px;
        display: block;
        position: absolute;
        top: 0;
    }

    .footer-column h2 {
        font-size: 16px;
        font-weight: 700;
        color: var(--color-texto);
        margin: 0 0 20px 0;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .footer-column ul li {
        list-style: none;
        font-size: 14px;
        margin-bottom: 12px;
    }

    .footer-column ul li a {
        color: var(--color-texto);
        text-decoration: none;
        gap: 20px;
    }

    .footer-column ul li a:hover {
        color: var(--color-nave);
        text-decoration: underline;
    }

    .menu-hamburguesa {
        display: none;
        flex-direction: column;
        cursor: pointer;
        background: #2b2b2b;
        border: none;
        gap: 5px;
    }

    .menu-hamburguesa .bar {
        width: 25px;
        height: 3px;
        border-radius: 2px;
        background-color: #2b2b2b;

    }

    .logo-mobile {
        display: none;
    }

    /* --- MEDIA QUERY A LOS 1100px --- */
    @media (max-width: 1100px) {
        .header-nave {
            display: flex;
            justify-content: space-between;
        }

        .nav-botones {
            padding-left: 15px;
            gap: 8px;
        }

        .btn {
            padding: 0 16px;
            font-size: 13px;
        }
    }

    /* --- MEDIA QUERY A LOS 991px --- */
    @media (max-width: 991px) {

        .navbar-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: relative;
        }

        .nav-links {
            display: none;

        }

        .menu-hamburguesa {
            display: flex;
            flex-direction: column;
            background: transparent;
            order: -1;
        }

        .menu-hamburguesa.bar {
            background-color: var(--color-texto);
            order: 1;
            z-index: 10;
        }

        .logo {
            display: none;
        }

        .logo-mobile {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            order: 2px;
            height: 50px;
            width: 50px;

        }

        .nav-botones {

            display: none;
        }

        /* --- MEDIA QUERY A LOS 791px --- */
        @media (max-width:792px) {
            .historias-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            /* --- MEDIA QUERY A LOS 768px --- */
            @media (max-width: 768px) {
                .cards-grid {
                    flex-direction: column;
                    align-items: flex-start;

                }

                .cards .historias-container {
                    flex-direction: column;

                }

                .hero-banner {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-image: url("./images/Bannner-hero-tu-negocio-vuela.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    min-height: 450px;
                    border-radius: var(--radius-box);
                    padding: 60px;
                    width: 100%;
                }

                .hero-banner {
                    flex-direction: column;
                    background-image: none;
                    background-color: white;
                    padding: 0;

                }

                .hero-banner::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 250px;
                    background-image: url("./images/Bannner-hero-tu-negocio-vuela.png");
                    background-size: cover;
                    background-position: center;
                    border-radius: var(--radius-box) var(--radius-box) 0 0;
                }

                .hero-content {
                    padding: 30px 20px;
                    text-align: center;
                }

                .hero-content h1 {
                    color: var(--color-texto);
                    font-size: 28px;
                }

                .hero-content p {
                    color: var(--color-texto);
                }

                .qr-container {
                    display: flex;
                    flex-direction: column;
                }

                .terminal-container {
                    display: flex;
                    flex-direction: column;
                }

                .link-pago-container {
                    display: flex;
                    flex-direction: column;

                }

                .tienda-online-content {
                    display: flex;
                    flex-direction: column;
                }

                .footer-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 15px.
                }
            }
        }
    }


    